* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    flex-direction: column;
    overflow-x: hidden;
}

h1 {
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    margin: 30px;
}

.box {
    width: 400px;
    height: 200px;
    background-color: blue;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    transform: translateX(500%);
    transition: 0.7s ease;
}

.box:nth-of-type(even){
    transform: translateX(-500%);  
}

.box.show {
    transform: translateX(0); 
}